# ===== Visual Studio =====
.vs/
*.user
*.VC.db
*.VC.VC.opendb

# ===== 빌드 결과물 =====
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.exe
*.obj
*.ilk
*.pdb
*.ipch
*.log
*.tlog
*.recipe

# ===== 기타 =====
.DS_Store
Thumbs.db
